body {
    background-image: url("images/background.jpeg");
    background-size: 100vw 100vh;
    font-weight: bold;
    font-family: "Lucida Console", Monaco, monospace;
}

li a {
    color: whitesmoke;
}

h1 {
    color: whitesmoke;
    text-shadow: 2px 2px black;
}

.a {
    font-family: "Lucida Console", Monaco, monospace;
    color: whitesmoke;
}

input[type=submit] {
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: bold;
}

li{
    color: whitesmoke;
    text-shadow: 2px 2px black;
}

h3 {
    border-style: solid;
    border-color: red;
    background-color: darkred;
    color: whitesmoke;
    text-align: center;
}

label[for^="choice"] {
    color: whitesmoke;
    text-shadow: 2px 2px black;
}

table {
    color: whitesmoke;
    text-shadow: 2px 2px black;
}

